<!-- <p>Where we'll be presenting:</p> -->
<p>이런 행사를 준비하고 있습니다:</p>
<table class="is-full-width">
  <thead>
    <tr>
      <!--
      <th>Event</th>
      <th>Location</th>
      <th>Date</th>
      -->
      <th>행사</th>
      <th>장소</th>
      <th>일자</th>
    </tr>
  </thead>
  <tbody >
    <tr *ngFor="let event of upcomingEvents">
      <th><a href="{{event.linkUrl}}" title="{{event.tooltip}}">{{event.name}}</a></th>
      <td>{{event.location}}</td>
      <td>
        <div>
          {{getEventDates(event)}}
        </div>
      </td>
    </tr>
  </tbody>
</table>

<!-- <p>Where we already presented:</p> -->
<p>이런 행사를 진행했습니다:</p>
<table class="is-full-width">
  <thead>
    <tr>
      <!--
      <th>Event</th>
      <th>Location</th>
      <th>Date</th>
      -->
      <th>행사</th>
      <th>장소</th>
      <th>일자</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let event of pastEvents">
      <th><a href="{{event.linkUrl}}" title="{{event.tooltip}}">{{event.name}}</a></th>
      <td>{{event.location}}</td>
      <td>
        <div>
          {{getEventDates(event)}}
        </div>
      </td>
    </tr>
  </tbody>
</table>
