<div class="two-column-step">
  <div class="step-description">
    <!--
    <div class="header">Control Flow</div>
    -->
    <div class="header">흐름 제어</div>
    <div class="description">
      <!--
      Angular's new control flow syntax makes templates easier to write and understand.
      -->
      템플릿을 자유롭게 구성하고 읽기 편한 흐름 제어 문법을 제공합니다.
    </div>

    <!--
    <button
      class="docs-primary-btn"
      [attr.text]="'Learn more about Control Flow'"
      routerLink="/guide/templates/control-flow"
    >
      Learn more about Control Flow
    </button>
    -->
    <button
      class="docs-primary-btn"
      [attr.text]="'흐름 제어 더 알아보기'"
      routerLink="/guide/templates/control-flow"
    >
      흐름 제어 더 알아보기
    </button>
  </div>

  <div class="step-code">
    <div class="code-block">
      <div class="code-header">
        <span>my-template.html</span>
        <span class="copy-icon"></span>
      </div>

      <adev-code-block [code]="Example" language="angular-html" />
    </div>
  </div>
</div>
